
.company-profile {
    font-family: 'Arial', sans-serif;
    padding: 20px;

  }
  

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    margin-bottom: 40px;
  }
  
 
  .team-card {
    background-color: #31262600;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
 
  .team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
 
  .team-card-link {
    text-decoration: none;
    color: inherit;
  }
  

  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  

  